html {
  background-color: #ffe500;
  line-height: 1.5;
  text-align: center;
  min-width: 25em;
}

h1 {
  font-family: 'Sigmar One';
  text-align: center;
  font-size: 3rem;
  color: #b20953;
  margin: 0;
}

ul {
  display: block;
  margin: 0 auto;
}

a {
  display: inline-block;
  padding: .2em .5em .3em;
  background-color: #b2a212;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: .1em;
}

a:hover {
  background-color: #cc1465;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  display: block;
}

div {
  background-color: white;
  padding: 0 .75em;
  text-align: left;
}

h2 {
  font-family: 'Sigmar One';
  color: #b20953;
  text-align: left;
  font-size: 1.875rem;
  padding-top: .75em;
}

img {
  width: 100%;
}

p {
  padding-bottom: .75em;
}

.berries {
  text-align: center;
  font-size: .75rem;
}

.current {
  background-color: #cc1465;
}
